/* {
    border: 1px solid red;
} */

html { 
    height: 100%;
    background-image: url('../images/Hearthstone-wallpaper.jpg');
    background-size: cover;
}

header, footer {
    display: flex;
    justify-content: center;
    font-family: 'BelweBT-Bold', cursive;
    color: white;
    text-shadow: 0 0 25px #000;
}

span {
    color: red;
}

.colorWhite {
    color: white;
}

.data {
    display: flex;
    justify-content: center;
    gap: 3em;
    font-family: 'BelweBT-Bold', cursive;
    font-size: 2em;
    color: white;
    text-shadow: 0 0 15px #000;
}

.data p {
    margin: 0;
}

.playButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'BelweBT-Bold', cursive;
    font-size: 3em;
    color: white;
    text-shadow: 0 0 15px #000;
}

.playButton p {
    cursor: pointer;
    margin-top: 0;
}

.playButton img {
    cursor: pointer;
}

.score {
    display: flex;
    justify-content: center;
    gap: 3em;
    font-family: 'BelweBT-Bold', cursive;
    font-size: 2em;
    color: white;
    text-shadow: 0 0 15px #000;
    padding-top: 2em;
}

.newGame {
    display: flex;
    justify-content: center;
    font-family: 'BelweBT-Bold', cursive;
    font-size: 2.5em;
    color: white;
    text-shadow: 0 0 15px #000;
    cursor: pointer;
}

.hidden {
    display: none;
}

.row {
    display: flex;
    justify-content: center;
}

.card {
    cursor: pointer;
}

.credit {
    margin-top: 1em;
    text-align: center;
}

.memory {
    margin-top: 2em;
}

.score {
    position: relative;
}

.stats {
    position: absolute;
    top: 65%;
    left: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'BelweBT-Bold', cursive;
    font-size: 1em;
    color: white;
    text-shadow: 0 0 10px #000;
}

.stats p {
    margin: 0.5em;
}
