/* {
    border: 1px solid red;
} */

html { 
    min-height: 100%;
    background-image: url('../images//Hearthstone-wallpaper.jpg');
    background-size: cover;
}

header, footer {
    text-align: center;
    font-family: 'BelweBT-Bold', cursive;
    color: white;
}

span {
    color: red;
}

.playButton {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

.row {
    display: flex;
    justify-content: center;
}

/* .card {
    border: 1px solid green;
} */
