* {
    border: 1px solid red;
}

header, footer {
    text-align: center;
}

.memory {
    border: 1px solid blue;
}

.row {
    display: flex;
    justify-content: center;
}

.card {
    border: 1px solid green;
}